@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
$primary: #878765 !default;
$secondary: #dcceba !default;

@import "./bootstrap/bootstrap";

body,
html {
    background-color: #999;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1.4px;
    width: 100%;
    overflow: initial;
    scroll-behavior: initial !important;
}

.smooth {
    scroll-behavior: smooth;
}

.loading {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;

    &:after {
        // content: "Loading...";
        content: url(../img/loading.gif);
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 100;
    }

}

body.finish {
    width: 100%;
    overflow: auto;
    height: auto;

    &::after {
        display: none;
    }
}


/* 漢堡 */
.navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 60px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .3s;

    &:focus {
        border: none;
        box-shadow: none;
    }

    & .menu-burger {
        transition: all .3s;
        background-color: $primary;
        position: relative;
        width: 25px;
        height: 2px;
    }

    & .menu-burger:before,
    & .menu-burger:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        transition: all .3s;
        background-color: $primary;
        left: 12px;
    }

    & .menu-burger:before {
        transform: translate(-50%, -8px);
    }

    & .menu-burger:after {
        transform: translate(-50%, 8px);
    }

    &[aria-expanded="true"] .menu-burger {
        transform: translateX(-12px);
        background-color: transparent;
    }

    &[aria-expanded="true"] .menu-burger:before {
        transform: rotate(45deg);
    }

    &[aria-expanded="true"] .menu-burger:after {
        transform: rotate(-45deg);
    }
}



.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 280px;
    z-index: 100;
    display: flex;

    a#tree {
        cursor: pointer;
    }

    h5 a {
        transition: all .3s;
        padding: 1.5rem 0;
        display: block;

    }

    h5 a:hover {
        color: $primary;
        letter-spacing: 3px;

    }

}

a {
    text-decoration: none;
}

:target,
.target {
    animation: target .5s 2;
    animation-timing-function: ease-in, linear, linear, ease-out;
}

@keyframes target {
    0% {
        opacity: .9;
        background-color: $primary;
    }

    100% {
        opacity: 1;
        background-color: #fff;
    }
}

.nav-pills {
    li {
        padding: 0;
    }

    .nav-link {
        padding: 1.5rem 1rem;
        border-radius: 0px;
        transition: all .3s;
        cursor: pointer;
    }
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active {
    background-color: rgba($primary, 0);
    color: $primary;
    letter-spacing: 3px;
}

.nav-pills .nav-link.active {
    font-weight: 700;
}

.dropdown-menu {
    cursor: auto !important;
    box-shadow: $secondary 0px 20px 30px -10px;

    &.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    padding: .5rem 1rem;
}

.dropdown-menu ul {
    padding-top: 0 !important;

    &::before {
        content: '';
        display: none;
    }

}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.zoom {
    position: fixed;
    top: 0;
    left: 280px;
    z-index: 4;

    & .btn {
        border-radius: 0px;
        width: 48px;
        height: 48px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        color: #fff;
        background-color: rgba(153, 153, 153, .7);
        transition: all .3s;

        &:hover {
            background-color: rgba(255, 255, 255, .7);
            color: $primary;

        }

    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    #navbarNav.collapse {
        display: flex;
    }
}

@media (max-width: 992px) {
    .sidebar {
        height: 100vh;
        width: 100vw;
        z-index: 100;
        padding-bottom: 20px;
    }


    .btn-circle {
        width: 35x;
        height: 35x;
        border-radius: 25px;
        margin-top: 6px;
    }

    .zoom {
        // left: 60px;
        display: none;
    }

    .tree-outter,
    .outter {
        margin-left: 60px !important;
        width: calc(100vw - 60px) !important;

    }

    .tree-outter .verticle-text {
        display: none;
    }

}

/*sidebar縮*/
#sidebarLeftBtn i {
    transition: all .5s;

}

body.sidebarLeft #sidebarLeftBtn i {
    transform: rotate(180deg);
    position: relative;
    transform-origin: center;
}

body.sidebarLeft {
    overflow-x: auto !important;
}

.sidebar,
.zoom,
.tree-outter,
.outter,
.verticle-text {
    transition: all .3s;
}

body.sidebarLeft .sidebar {
    left: -280px;
}

body.sidebarLeft .tree-outter,
body.sidebarLeft .outter {
    margin-left: 0;
    width: 100% !important;
    max-width: 100% !important;
    overflow: initial !important;
    /*按下zoomInt記得.tree-outter要加overflow-auto的class*/
}

body.sidebarLeft .zoom {
    left: 0;
}

body.sidebarLeft .verticle-text {
    right: -5rem !important;
    ;
}

/*前言*/
.title {
    font-weight: 700;
}

.outter {
    margin-left: 280px;
    max-width: calc(100vw - 280px);
    max-height: 100vh;
    cursor: auto !important;
}

.verticle-text {
    writing-mode: vertical-rl;
    line-height: 1.7;
    writing-mode: tb-rl;

}

.card {
    opacity: 0.7;
    border-radius: 0px !important;
}

.modal-header .btn {
    transition: all .3s;
    cursor: pointer !important;

    &:hover {
        color: $primary;
    }
}

/*樹狀*/
.tree-outter {
    margin-left: 280px;
    width: calc(100vw - 280px);
    // overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;

    & .verticle-text h1 {
        background-color: rgba(153, 153, 153, .4);
    }
}


div.tree {
    white-space: nowrap;
    padding-bottom: 30px;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li.treeli {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 25px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li.treeli::before,
.tree li.treeli::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(50% - 0.2rem);
    border-top: 1px solid #ccc;
    width: calc(50% + 1.5rem);
    height: 25px;
}

.tree li.treeli::after {
    right: auto;
    border-left: 1px solid #ccc;
}

//媽寶:only-child 例如成器公 郭惟琶 
.tree li.treeli:only-child {
    padding-top: 0;

    &::after,
    &::before {
        display: none;
    }
}

.tree li.treeli:first-child::before,
.tree li.treeli:last-child::after {
    border: 0 none;
}

.tree li.treeli:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li.treeli:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% + 0.8rem);
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li.treeli>ul {
    left: -0.8rem;
}

.person.dropdown {
    cursor: pointer;

    &:hover>span {
        background-color: $secondary;
    }
}

.dropdown-menu {
    position: absolute;
}

.person {
    display: inline-block;

    span {
        display: inline-block;
        background-color: #FFF;
        padding: 1rem 0.5rem;
        font-size: 18px;
        letter-spacing: 2px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        writing-mode: vertical-lr;
        //lr和rl會影響scroll anchor
        line-height: 2rem;
        min-height: 112px;
        vertical-align: middle;
        position: relative;

    }
}


/* 配偶 非姓郭 .spouse.nospouse */
.spouse {
    position: absolute;
    transform: translateX(-7rem);
}

.spouse.dropdown {
    z-index: 3;
}

.spouse span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 3rem;
    border-top: 1px solid #ccc;
    width: calc(0px + 1rem);
}

/* 配偶 非姓郭 .spouse.nospouse */
.nospouse {
    z-index: 3;
}

/* 女婿 非姓郭 SonLaw */
.spouse.SonLaw {
    transform: translateX(1rem);
}

.spouse.SonLaw span:before {
    left: -1rem;
}

/* 姓郭的還沒結婚 nospouseli */
.tree li.nospouseli {
    padding: 25px 15px 0 15px;

}

.tree li.nospouseli::after {
    right: auto;
    left: calc(50% - .5rem);
    width: calc(50% + 2rem);
}

.tree li.nospouseli::before {
    width: calc(50% + 2rem);
    right: calc(50% + 0px);
}

.tree .nospouseUl::before {
    left: calc(50% + 0.5rem) !important;
}


/* 姓郭的還沒結婚  not(.spouse).nospouse*/
.person:not(.spouse).nospouse {
    margin-right: .5rem;
}




.customTable {
    tbody {
        display: flex
    }

    tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(222, 226, 230);

        th {
            color: #fff;
            text-align: center;
        }

        td,
        th {
            border: none;
        }

    }


    writing-mode: vertical-rl;
    writing-mode: tb-rl;
    white-space: nowrap;
    width: auto;

    small {
        font-size: 12px;
        position: relative;
        right: -2px;
    }
}

.customTable2 {
    tr th {
        text-align: left;
    }

    tr {
        border-left: 1px solid rgb(222, 226, 230);
        min-height: 340px;
    }

    img {
        max-height: 323px;
        object-fit: contain;
    }

    tr:last-child {
        border-bottom: none;
    }

    ul {
        margin: 0;
        padding-left: 0;
    }

}

.table-event {
    tr {

        td:nth-child(26),
        td:nth-child(26)~td {
            background-color: rgba(255, 255, 255, .4);
        }
    }
}