<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>郭姓惟琶祖譜</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>

    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
        <h5 class="fs-4 text-center py-4"> <a href="./index.html" class="link-dark">
                郭家家譜</a></h5>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto text-center">
            <li>
                <a href="./preface.html" class="nav-link link-dark">
                    譜之前言
                </a>
            </li>
            <li>
                <a href="./death.html" class="nav-link link-dark">
                    祖先忌辰月曆表
                </a>
            </li>
            <li>
                <a href="./event.html" class="nav-link link-dark">
                    歷代大事年表
                </a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <a href="#郭振益" class="btn btn-primary btn-circle link-light mx-1">益</a>
            <a href="#郭振木" class="btn btn-primary btn-circle link-light mx-1">木</a>
            <a href="#郭振福" class="btn btn-primary btn-circle link-light mx-1">福</a>
            <a href="#郭振良" class="btn btn-primary btn-circle link-light mx-1">良</a>
            <a href="#郭振吉" class="btn btn-primary btn-circle link-light mx-1">吉</a>
            <a href="#郭振壽" class="btn btn-primary btn-circle link-light mx-1">壽</a>

        </div>

    </div>
    <div class="tree-outter">
        <div class="tree" id="family">
            <ul>
                <li class="treeli" v-for="human0 in 零世">
                    <div class="person" v-bind:class="{dropdown:human0.info}">
                        <span data-bs-toggle="dropdown" v-bind:id="human0.name">
                            {{human0.name}}
                        </span>
                        <div class="dropdown-menu px-3" v-bind:aria-labelledby="human0.name" v-if="human0.info!=false">
                            <div v-html="human0.infoData"></div> <img v-if="human0.infoImg!=false"
                                v-bind:src="human0.infoImg" class="img-fluid" width="100px">
                        </div>
                    </div>
                    <div class="person spouse" v-if="human0.spouse!=false">
                        <span>
                            {{human0.spouse}}
                        </span>
                    </div>
                    <ul v-if="human0.children!=false">
                        <li class="treeli" v-for="human1 in human0.children">
                            <div class="person" v-bind:class="{dropdown:human1.info}">
                                <span data-bs-toggle="dropdown" v-bind:id="human1.name">
                                    {{human1.name}}
                                </span>
                                <div class="dropdown-menu px-3" v-bind:aria-labelledby="human1.name"
                                    v-if="human1.info!=false">
                                    <div v-html="human1.infoData"></div> <img v-if="human1.infoImg!=false"
                                        v-bind:src="human1.infoImg" class="img-fluid" width="100px">
                                </div>
                            </div>
                            <div class="person spouse" v-if="human1.spouse!=false">
                                <span>
                                    {{human1.spouse}}
                                </span>
                            </div>
                            <ul v-if="human1.children!=false">
                                <li class="treeli" v-for="human2 in human1.children">
                                    <div class="person" v-bind:class="{dropdown:human2.info}">
                                        <span data-bs-toggle="dropdown" v-bind:id="human2.name">
                                            {{human2.name}}
                                        </span>
                                        <div class="dropdown-menu px-3" v-bind:aria-labelledby="human2.name"
                                            v-if="human2.info!=false">
                                            <div v-html="human2.infoData"></div> <img v-if="human2.infoImg!=false"
                                                v-bind:src="human2.infoImg" class="img-fluid" width="100px">
                                        </div>
                                    </div>
                                    <div class="person spouse" v-if="human1.spouse!=false">
                                        <span>
                                            {{human2.spouse}}
                                        </span>
                                    </div>
                                    <ul v-if="human2.children!=false">
                                        <li class="treeli" v-for="human3 in human2.children">
                                            <div class="person" v-bind:class="{dropdown:human3.info}">
                                                <span data-bs-toggle="dropdown" v-bind:id="human3.name">
                                                    {{human3.name}}
                                                </span>
                                                <div class="dropdown-menu px-3" v-bind:aria-labelledby="human3.name"
                                                    v-if="human3.info!=false">
                                                    <div v-html="human3.infoData"></div> <img
                                                        v-if="human3.infoImg!=false" v-bind:src="human3.infoImg"
                                                        class="img-fluid" width="100px">
                                                </div>
                                            </div>
                                            <div class="person spouse" v-if="human3.spouse!=false">
                                                <span>
                                                    {{human3.spouse}}
                                                </span>
                                            </div>
                                            <!-- 四世 -->
                                            <ul v-if="human3.children!=false">
                                                <li class="treeli" v-for="human4 in human3.children">
                                                    <div class="person" v-bind:class="{dropdown:human4.info}">
                                                        <span data-bs-toggle="dropdown" v-bind:id="human4.name">
                                                            {{human4.name}}
                                                        </span>
                                                        <div class="dropdown-menu px-3"
                                                            v-bind:aria-labelledby="human4.name"
                                                            v-if="human4.info!=false">
                                                            <div v-html="human4.infoData"></div> <img
                                                                v-if="human4.infoImg!=false" v-bind:src="human4.infoImg"
                                                                class="img-fluid" width="100px">
                                                        </div>
                                                    </div>
                                                    <div class="person spouse" v-if="human4.spouse!=false">
                                                        <span>
                                                            {{human4.spouse}}
                                                        </span>
                                                    </div>
                                                    <!-- 五世 -->
                                                    <ul v-if="human4.children!=false">
                                                        <li class="treeli" v-for="human5 in human4.children">
                                                            <div class="person" v-bind:class="{dropdown:human5.info}">
                                                                <span data-bs-toggle="dropdown" v-bind:id="human5.name">
                                                                    {{human5.name}}
                                                                </span>
                                                                <div class="dropdown-menu px-3"
                                                                    v-bind:aria-labelledby="human5.name"
                                                                    v-if="human5.info!=false">
                                                                    <div v-html="human5.infoData"></div> <img
                                                                        v-if="human5.infoImg!=false"
                                                                        v-bind:src="human5.infoImg" class="img-fluid"
                                                                        width="100px">
                                                                </div>
                                                            </div>
                                                            <div class="person spouse" v-if="human5.spouse!=false">
                                                                <span>
                                                                    {{human5.spouse}}
                                                                </span>
                                                            </div>
                                                            <!-- 六世 -->
                                                            <ul v-if="human5.children!=false">
                                                                <li class="treeli" v-for="human6 in human5.children">
                                                                    <div class="person"
                                                                        v-bind:class="{dropdown:human6.info}">
                                                                        <span data-bs-toggle="dropdown"
                                                                            v-bind:id="human6.name">
                                                                            {{human6.name}}
                                                                        </span>
                                                                        <div class="dropdown-menu px-3"
                                                                            v-bind:aria-labelledby="human6.name"
                                                                            v-if="human6.info!=false">
                                                                            <div v-html="human6.infoData"></div> <img
                                                                                v-if="human6.infoImg!=false"
                                                                                v-bind:src="human6.infoImg"
                                                                                class="img-fluid" width="100px">
                                                                        </div>
                                                                    </div>
                                                                    <div class="person spouse"
                                                                        v-if="human6.spouse!=false">
                                                                        <span>
                                                                            {{human6.spouse}}
                                                                        </span>
                                                                    </div>
                                                                    <!-- 七世 -->
                                                                    <ul v-if="human6.children!=false">
                                                                        <li class="treeli"
                                                                            v-for="human7 in human6.children">
                                                                            <div class="person"
                                                                                v-bind:class="{dropdown:human7.info}">
                                                                                <span data-bs-toggle="dropdown"
                                                                                    v-bind:id="human7.name">
                                                                                    {{human7.name}}
                                                                                </span>
                                                                                <div class="dropdown-menu px-3"
                                                                                    v-bind:aria-labelledby="human7.name"
                                                                                    v-if="human7.info!=false">
                                                                                    <div v-html="human7.infoData"></div>
                                                                                    <img v-if="human7.infoImg!=false"
                                                                                        v-bind:src="human7.infoImg"
                                                                                        class="img-fluid" width="100px">
                                                                                </div>
                                                                            </div>
                                                                            <div class="person spouse"
                                                                                v-if="human7.spouse!=false">
                                                                                <span>
                                                                                    {{human7.spouse}}
                                                                                </span>
                                                                            </div>

                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <!-- jquery.min.js -->
    <script src="js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="./js/jquery.visible.min.js"></script>

    <!-- Vue.js v2.6.11 -->
    <script src="./js/Vue.min.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/main.js"></script>

    <script>
     

       
        $(function () {
            var offL = $(window).width() / 2 - 280
            var offH = $(window).height()
            //function Scrolldown() {
                //var initLeft = $("#成器公").offset().left
               // if ($("#成器公".length > 0)) {
                 //   $(".tree-outter").scrollLeft(initLeft - offL)
                  //  window.scrollTo(0, 0);
               // }
           // }
 
            //window.onload = Scrolldown;
            function Scrolldown() {
                $(".tree-outter").scrollLeft(2800)
                $("html,body").animate({
                    scrollTop: 0

                }, 100);
            }
            Scrolldown()
            
            $('.person').each(function () {
                var hasSpouse = $(this).siblings('.spouse')
                if (hasSpouse.length == 0) {
                    $(this).addClass('nospouse')
                    if (!$(this).hasClass('spouse')) {
                        $(this).parent('.treeli').addClass('nospouseli')
                        $(this).siblings('ul').addClass('nospouseUl')
                    }
                }
            });




            $('.btn-circle ').on('click', function () {
                var goTarget = $(this).attr('href')
                var goTargetT = $(goTarget).offset().top
                var goTargetL = $(goTarget).offset().left


                setTimeout(function () {
                    // $('html,body').stop().animate({
                    //     scrollTop: goTargetT - 100,
                    // }, 100)
                    if ($(goTarget).visible(true)) {
                        var treeTop = $(".tree-outter").scrollTop()
                        $('html,body').scrollTop(offH)

                        var treeLeft = $(".tree-outter").scrollLeft()
                        $(".tree-outter").scrollLeft(treeLeft - offL)
                    }

                }, 600)




            })


        })

    </script>
</body>

</html>
